<nav>
    <ul>
        <li><a href="{{ path('villes_gererVilles') }}">Villes</a></li>
        <li><a href="{{ path('campus_gererCampus') }}">Campus</a></li>
        <li><a href="{{ path('main_accueil') }}">Accueil</a></li>
        <li><a href="{{ path('profil_monProfil') }}">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</nav>